.div_class {
  background-color: rgba(245, 94, 94, 0.608);
  font-family: Verdana, "DejaVu Sans", sans-serif;
  /* here we only given double quotes to dejavu sans because 
this font has space in the name  */
}

#id2 {
  color: rgb(0, 0, 255);
  font-size: 36px;
}
#id4 {
  background-color: rgba(161, 239, 130, 0.608);
  font-size: 24px;
  font-weight: bold;
}

.div_add {
  font-size: 24px;
}
